body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    color: white;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

main {
    flex: 1;
    padding: 2rem 0;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.accordion-button {
    font-weight: 600;
    color: #343a40;
}

.accordion-button:not(.collapsed) {
    background-color: #feb47b;
    color: white;
}

.list-group-item {
    background-color: #f9f9f9;
}

.list-group-item strong {
    font-size: 1.1rem;
}

.mapa {
    margin: 0 auto;
}

#horario {
    text-align: center;
}

.reduc {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

#reserva {
    background-color: #f9f9f9;
    margin-top: 2rem 0;
}

#reserva h2 {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

#reserva .form-label {
    font-weight: 600;
}

#reserva .form-control {
    border-radius: 0.375rem;
    padding: 0.75rem;
}

#reserva button {
    background-color: #ff7e5f;
    border: none;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.375rem;
}

#reserva button:hover {
    background-color: #feb47b;
}
